<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Activities
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let activity of userActivities"
      (click)="enterActivity(activity.activity_key)"
    >
      <h2>{{activity.activity_name}}</h2>
    </ion-item>
  </ion-list>
  <div padding class="no-data" *ngIf="!userActivities">
    <ion-icon name="remove-circle"></ion-icon>
    <p>There are no activities you are registered for this month</p>
  </div>
</ion-content>