<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon class="pan-icon" name="menu"></ion-icon>
    </button>
    <ion-title (swipe)="changeMonth($event)">
      Activities - {{month}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="activities">
  <ion-grid>
    <ion-row>
      <ion-col
        col-5
        [ngClass]="{ 'even-activity': even }"
        *ngFor="let activity of activities; let even = even"
        (click)="enterActivity(activity)"
      >{{activity.name | camelCase}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="isAdmin">
    <button
      class="export-btn"
      round
      ion-button
      icon-only
      (click)="exportToCsv()"
    ><ion-icon name="download"></ion-icon>
    </button>
  </div>
  <div padding class="no-data" *ngIf="!activities">
    <ion-icon name="remove-circle"></ion-icon>
    <p>There are no activities for this month</p>
  </div>
</ion-content>