<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon class="pan-icon" name="menu"></ion-icon>
    </button>
    <ion-title>
      Activities - {{month}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let activity of activities" (click)="enterActivity(activity)">
      <ion-thumbnail item-left>
        <img [src]="activity.img || getImg(activity.name)">
      </ion-thumbnail>
      <h2>{{activity.name | camelCase}}</h2>
      <p>{{activity.days}} - {{activity.week_type}}</p>
    </ion-item>
  </ion-list>
  <div *ngIf="isAdmin">
    <button
      class="export-btn"
      round
      ion-button
      icon-only
      (click)="exportToCsv()"
    ><ion-icon name="download"></ion-icon>
    </button>
  </div>
</ion-content>