<ion-menu [content]="content">
	<ion-content class="pan-background">
		<ion-list>
			<button
				class="pan-menu-button"
				ion-item
				*ngFor="let page of pages"
				(click)="openPage(page)"
			>{{page.title}}
			</button>
			<ng-container *ngIf="isAdmin">
				<button
					class="pan-menu-button"
					ion-item
					*ngFor="let page of adminPages"
					(click)="openPage(page)"
				>{{page.title}}</button>
			</ng-container>
			<button class="pan-menu-button" ion-item (click)="logout()">Logout</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>