@import '../theme/colors';

ion-icon {
  font-size: 2em;
  padding-left: 10px;
}
.toast-message {
  border-radius: 4px;
}
.toaster-success {
  .toast-message {
    background-color: $success-btn;
  }
}
.toaster-error {
  .toast-message {
    background-color: $error;
  }
}
.successBtn {
  background-color: $success-btn;
}
.successBtn.activated {
  background-color: $success-btn-activated;
}
.pan-background {
  background-color: $pan-theme;

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid #fff;
  }
  .pan-menu-button {
    background-color: $pan-theme;
    color: white;

    .item-inner {
      border-bottom: 0.55px solid #fff;
    }
  }
}
ion-app.ios [padding], ion-app.ios [padding] .scroll-content,
ion-app.md [padding], ion-app.md [padding] .scroll-content {
  padding: 2px 16px;
}
ion-nav .toolbar-background {
  background-color: $pan-theme;
  border-bottom-color: $pan-theme !important;
}
ion-header ion-icon, ion-nav .toolbar-title {
  color: #fff;
}
.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
  width: 76px;
  height: 66px;
}