<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon class="pan-icon" name="menu"></ion-icon>
		</button>
		<ion-title>
			Add Activity
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-list>
</ion-list>
<ion-content>
	<ion-list>
		<ion-item>
			<ion-label stacked>Name</ion-label>
			<ion-input type="text" [(ngModel)]="activity.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Date</ion-label>
			<ion-datetime displayFormat="MM/YYYY" [(ngModel)]="activity.date"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label stacked>Week Type</ion-label>
			<ion-select [(ngModel)]="activity.week_type">
				<ion-option value="Weekly">Weekly</ion-option>
				<ion-option value="Bi-weekly">Bi-Weekly</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Days</ion-label>
			<ion-select [(ngModel)]="activity.days" multiple="true">
				<ion-option value="Sunday">Sunday</ion-option>
				<ion-option value="Monday">Monday</ion-option>
				<ion-option value="Tuesday">Tuesday</ion-option>
				<ion-option value="Wednesday">Wednesday</ion-option>
				<ion-option value="Thursday">Thursday</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Start Time</ion-label>
			<ion-input type="time" [(ngModel)]="activity.start_time"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>End Time</ion-label>
			<ion-input type="time" [(ngModel)]="activity.end_time"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Max Users</ion-label>
			<ion-input type="number" [(ngModel)]="activity.max_users"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Min Users</ion-label>
			<ion-input type="number" [(ngModel)]="activity.min_users"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Img Url</ion-label>
			<ion-input type="text" [(ngModel)]="activity.img"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Comments</ion-label>
			<ion-input type="text" [(ngModel)]="activity.comments"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Comment Needed From User</ion-label>
			<ion-toggle checked="false" [(ngModel)]="activity.comment_needed"></ion-toggle>
		</ion-item>
	</ion-list>
	<div padding>
		<button block ion-button class="successBtn" (click)="save()">Save</button>
	</div>
</ion-content>
