<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon class="pan-icon" name="menu"></ion-icon>
		</button>
		<ion-title>
			Add Activity
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-list>
</ion-list>
<ion-content>
	<ion-list>
		<ion-item>
			<ion-label stacked>Name</ion-label>
			<ion-input type="text" [(ngModel)]="activity.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Month</ion-label>
			<ion-datetime displayFormat="MM/YYYY" [(ngModel)]="activity.date"></ion-datetime>
		</ion-item>
		<ion-item *ngFor="let day of days; let i = index; let first = first">
			<ion-label *ngIf="first" stacked>Dates</ion-label>
			<ion-datetime
				[ngClass]="{ 'activity-dates': !first }"
				displayFormat="DD/MM/YYYY"
				pickerFormat="D MMMM YYYY"
				[(ngModel)]="activity.days[i]"
			></ion-datetime>
		</ion-item>
		<button class="add-day-btn" round ion-button (click)="days.push(1)">+</button>
		<ion-item>
			<ion-label stacked>Start Time</ion-label>
			<ion-input type="time" [(ngModel)]="activity.start_time"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>End Time</ion-label>
			<ion-input type="time" [(ngModel)]="activity.end_time"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Location</ion-label>
			<ion-select [(ngModel)]="activity.location">
				<ion-option value="Office">Office</ion-option>
				<ion-option value="Goal-Time">Goal Time</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Max Users</ion-label>
			<ion-input type="number" [(ngModel)]="activity.max_users"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Min Users</ion-label>
			<ion-input type="number" [(ngModel)]="activity.min_users"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Comments</ion-label>
			<ion-input type="text" [(ngModel)]="activity.comments"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Comment Needed From User</ion-label>
			<ion-toggle checked="false" [(ngModel)]="activity.comment_needed"></ion-toggle>
		</ion-item>
	</ion-list>
	<div padding>
		<button block ion-button class="successBtn" (click)="save()">Save</button>
	</div>
</ion-content>
