.list-ios > .item-block:first-child {
  border-top: none;
}
.activities-data {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 15px;
  margin-bottom: 15px;

  ion-icon {
    font-size: 2em;
  }
}
.fab {
  contain: initial;
}
ion-fab {
  button {
    box-shadow: 0 4px 10px #6b6b6b;
  }

  ion-fab-list button[ion-fab] {
    text-align: center;
    overflow: visible;

    div.label {
      position: absolute;
      color: black;
      right: 48px;
      background: rgba(248, 248, 248, 1);
      height: 24px;
      line-height: 16px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .button-inner {
    overflow: visible;
  }
}