<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon class="pan-icon" name="menu"></ion-icon>
		</button>
		<ion-title>
			{{activity.name | camelCase}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid class="activities-data">
		<ion-row>
			<ion-col col-4 text-center>
				<ion-icon name="compass"></ion-icon>
				<p>{{activity.location}}</p>
			</ion-col>
			<ion-col col-4 text-center>
				<ion-icon name="time"></ion-icon>
				<p>{{activity.start_time}} - {{activity.end_time}}</p>
			</ion-col>
			<ion-col col-4 text-center>
				<ion-icon name="warning"></ion-icon>
				<p>Min {{activity.min_users}} - Max {{activity.max_users}}</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12 text-center>
				<ion-icon name="calendar"></ion-icon>
				<p>{{activity.days}}</p>
			</ion-col>
		</ion-row>
		<p padding *ngIf="activity.comments"><b>Comments:</b> {{activity.comments}}</p>
	</ion-grid>
	<h5 *ngIf="registeredUsers && registeredUsers.length" padding>Registered</h5>
	<ion-list>
		<ion-item *ngFor="let user of registeredUsers">
			<ion-avatar item-left>
				<ion-icon class="pan-icon" name="contact"></ion-icon>
			</ion-avatar>
			<h2>{{user.user_name}}</h2>
		</ion-item>
	</ion-list>
	<ion-fab bottom right>
		<button ion-fab mini><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button
				*ngIf="isAdmin"
				ion-fab
				color="danger"
				(click)="removeActivity()"
			>
				<ion-icon name="trash"></ion-icon>
				<div class="label">Delete Activity</div>
			</button>
			<button
				*ngIf="canRegister()"
				ion-fab
				class="successBtn"
				(click)="onRegister()"
			>
				<ion-icon name="log-in"></ion-icon>
				<div class="label">Register</div>
			</button>
			<button
				*ngIf="isRegistered && !isPending"
				ion-fab
				color="light"
				(click)="cancelRegistration()"
			>
				<ion-icon name="log-out"></ion-icon>
				<div class="label">Cancel Registration</div>
			</button>
			<button
				*ngIf="canPending()"
				ion-fab
				class="successBtn"
				(click)="onRegister()"
			>
				<ion-icon name="log-in"></ion-icon>
				<div class="label">Register to Waiting List</div>
			</button>
			<button
				*ngIf="isPending && !isRegistered"
				ion-fab
				color="light"
				(click)="cancelPending()"
			>
				<ion-icon name="log-out"></ion-icon>
				<div class="label">Cancel Waiting List</div>
			</button>
		</ion-fab-list>
	</ion-fab>
</ion-content>