<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon class="pan-icon" name="menu"></ion-icon>
		</button>
		<ion-title>
			{{activity.name | camelCase}} - {{activity.week_type | camelCase}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid class="activities-data">
		<ion-row>
			<ion-col col-4 text-center>
				<ion-icon name="calendar"></ion-icon>
				<p>{{activity.days | shortDay}}</p>
			</ion-col>
			<ion-col col-4 text-center>
				<ion-icon name="time"></ion-icon>
				<p>{{activity.start_time}} - {{activity.end_time}}</p>
			</ion-col>
			<ion-col col-4 text-center>
				<ion-icon name="warning"></ion-icon>
				<p>Minimum {{activity.min_users}}</p>
			</ion-col>
		</ion-row>
		<p padding *ngIf="activity.comments"><b>Comments:</b> {{activity.comments}}</p>
	</ion-grid>
	<div padding>
		<button
			*ngIf="canRegister()"
			block
			ion-button
			class="successBtn"
			[disabled]="expiration.expired < now"
			(click)="onRegister()"
		>Register</button>
	</div>
	<div padding>
		<button
			*ngIf="isRegistered && !isPending"
			block
			ion-button
			color="light"
			[disabled]="expiration.expired < now"
			(click)="cancelRegistration()"
		>Cancel Registration</button>
	</div>
	<div padding>
		<button
			*ngIf="canPending()"
			block
			ion-button
			class="successBtn"
			[disabled]="expiration.expired < now"
			(click)="onRegister()"
		>Register to Waiting List</button>
	</div>
	<div padding>
		<button
			*ngIf="isPending && !isRegistered"
			block
			ion-button
			color="light"
			[disabled]="expiration.expired < now"
			(click)="cancelPending()"
		>Cancel Waiting List</button>
	</div>
	<div padding *ngIf="isAdmin">
		<button
			block
			ion-button
			color="danger"
			(click)="removeActivity()"
		>Delete Activity</button>
	</div>
	<h5 *ngIf="registeredUsers && registeredUsers.length" padding>Registered</h5>
	<ion-list>
		<ion-item *ngFor="let user of registeredUsers">
			<ion-avatar item-left>
				<ion-icon class="pan-icon" name="contact"></ion-icon>
			</ion-avatar>
			<h2>{{user.user_name}}</h2>
		</ion-item>
	</ion-list>
</ion-content>